html,body{
    height:100%;
    overflow-x:hidden;
}

#map {
    height: 85%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5px;
}

.popup-image {
    width : 100%;
    border-radius: 5px;
    min-height: 60px;
}

.main-header {
    text-align: center;
    height: 70px;
    background-color: rgb(191, 201, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content:center;
}

#coverimage{
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    width:95%;
    max-height: 400px;
    border-radius: 5px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.flag{
    width: 32%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.valgboks{
    height: 50px;
    margin-top: 15px;
    text-align: center;
    align-content: center;
    background-color: rgb(247, 225, 247);
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.bokslink{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}

.picdiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.trippic{
    height: 300px;
    width: 100%;
    object-fit: fill;
    z-index: 1;
}

.pictext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
}
